@font: 'Montserrat';
@color-claro: rgb(240, 238, 238) ;
@color-dark: rgb(34, 34, 33) ;
@color-text: rgb(143, 142, 142);
@color-special-more: green ;
@color-special-less: red ;

*{
    margin: 0;
    padding: 0;
}

body{
    color: @color-claro;
    background-color: @color-dark;

    font-size: 14px;
    font-family: @font , "sans-serif";
}

.ligth{
    color: @color-dark;
    background-color: @color-claro;
}



.txt-bold {
    font-weight: 700;
}

.txt-ligth{
    font-weight: 400;

}

.size-movil{
    width: 350px;

}