@font: 'Montserrat';
@color-ligth: rgb(240, 238, 238) ;
@color-dark: rgb(34, 34, 33) ;
@color-text: rgb(105, 102, 102);
@color-special-more: green ;
@color-special-less: red ;



.size-movil{
    width: 300px;

}

.contents-function(@heigth,@borderCard){
    border-radius: 5px;
    background-color: fade(@color-text , 10%);
    width: 100%;
    height:@heigth;
    border: 0px solid @color-dark ;
    border-top: @borderCard;
    margin: 1em 0;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: @color-ligth;
    background-color: @color-dark;

    font-size: 14px;
    font-family: @font , "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;


}
main{
    .size-movil()
}
footer{
    .size-movil()

}

.ligth{
    color: @color-dark;
    background-color: @color-ligth;
}



.txt-bold {
    font-weight: 700;
}

.txt-ligth{
    font-weight: 400;

}

